<!DOCTYPE html>
<html>

  <head>

    <title>ShopifyWaterCooler</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>

  </head>

  <body class="container">

    <div class="row">

      <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">

        <%= yield %>

      </div>

    </div>

  </body>

</html>
